<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plate.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plate.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plate.description %>
</p>

<p>
  <strong>Portions:</strong>
  <%= @plate.portions %>
</p>

<p>
  <strong>Image:</strong>
  <%= @plate.image %>
</p>

<%= link_to 'Edit', edit_plate_path(@plate) %> |
<%= link_to 'Back', plates_path %>
